.total{
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    background-color: white;
    height: 42vh;
    width: 100%;
    
    /* box-shadow: 0 4px 8px 0 rgba(88, 175, 242, 0.2), 0 6px 20px 0 rgba(89, 160, 240, 0.19); */
    box-shadow: 1px 0px 5px rgba(88, 175, 242, 0.2),-1px 0px 5px rgba(88, 175, 242, 0.2);
}
.items:hover{
    color: #47B5FF;
}