.googleButton{
    width: 200px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .google{
    background-color: #df4930;
  }
  .facebook{
    background-color: #507cc0;
  }

  .icon{
    width: 20px;
    height: 20px;
    margin-right: 40px;
  }


  .center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  top: 11rem;
  position: absolute;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line{
  width: 0.5px;
  height: 90%;
  background-color: lightgray;
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}