/* .Navbar{
    font-family: 'Baloo 2', sans-serif;
} */
a{
    color: red;
    text-decoration: underline;
}
/* .Navbar{
    background-color: grey;
} */
/* .items:hover{
    color: blue;
} */

.info_shop{
    background-image: linear-gradient(#47B5FF , white);
}