.Navbar{
    font-family: 'Baloo 2', sans-serif;
}
a{
    color: red;
    text-decoration: underline;
}
.Navbar{
    /* background-color: grey; */
}
.items:hover{
    color: blue;
}

.info_shop{
    /* background-color: rgb(154, 245, 239); */
    /* background-color: #ABC9FF; */
    /* background-color: #A084CF; */
    /* background-color: #3AB0FF; */
    /* background-color: #DFF6FF; */
    /* background-color: #bce3f2; */
    /* background-color: #DFF6FF; */
    background-image: linear-gradient(#a1e0f9 , white);
}