.info{
    font-family: 'Ubuntu', sans-serif;
}
.onestore{
    font-family: 'Quicksand', sans-serif;
}
li{
    padding: 0.4rem;
    /* text-decoration: underline; */
    cursor: pointer;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:hover{
    text-decoration: underline;
}

hr{
    /* border: "1px solid grey"; */
    width: 100vw;
}
.Footer{
    background-image: linear-gradient(white,#47B5FF);
}