.info{
    font-family: 'Ubuntu', sans-serif;
}
.onestore{
    font-family: 'Quicksand', sans-serif;
}
li{
    padding: 0.4rem;
    /* text-decoration: underline; */
    cursor: pointer;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:hover{
    text-decoration: underline;
}

hr{
    /* border: "1px solid grey"; */
    width: 100vw;
}
.footer{
    /* background-image: linear-gradient(#47B5FF, white); */
    /* border: 2px solid red; */
    /* background-image: linear-gradient(#eef6fb,#47B5FF); */
    background-color: #47B5FF;
    /* background-color: white; */
}